In [6]:
import numpy as np
import pandas as pd 
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA

In [7]:
import pickle
import warnings
warnings.filterwarnings("ignore")

In [8]:
df = pd.read_csv("data.csv")

In [9]:
df.head()

   GNP.deflator      GNP  Unemployed  Armed.Forces  Population  Employed
0          83.0  234.289       235.6         159.0     107.608    60.323
1          88.5  259.426       232.5         145.6     108.632    61.122
2          88.2  258.054       368.2         161.6     109.773    60.171
3          89.5  284.599       335.1         165.0     110.929    61.187
4          96.2  328.975       209.9         309.9     112.075    63.221

In [11]:
Y = df[["Employed"]]
X = df.drop("Employed", axis="columns")

In [13]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.25)

In [14]:
model = LinearRegression()

In [15]:
model.fit(X_train,Y_train)

LinearRegression()

In [16]:
print(model.score(X_train,Y_train))
print(model.score(X_test,Y_test))

0.9846594346616593
0.8534461854909606

In [19]:
scaler = StandardScaler()
x_scaled = scaler.fit_transform(X)

In [21]:
x_scaled

array([[-1.78787162, -1.59405086, -0.92542078, -1.50883856, -1.4574142 ],
       [-1.26149924, -1.33285665, -0.95968283, -1.70770436, -1.30537751],
       [-1.29021046, -1.34711286,  0.54011085, -1.47025266, -1.13596944],
       [-1.16579518, -1.07128837,  0.17428056, -1.41979418, -0.96433427],
       [-0.52457792, -0.61018505, -1.20946424,  0.73062773, -0.79418384],
       [-0.34274019, -0.4229008 , -1.39403723,  1.46524391, -0.61675821],
       [-0.25660653, -0.23185506, -1.46256133,  1.39549248, -0.34594286],
       [-0.16090246, -0.25547341,  0.42516719,  1.10313008, -0.17891036],
       [-0.04605758,  0.10152422, -0.31975612,  0.65494001, -0.00534504],
       [ 0.27933625,  0.32711946, -0.41038478,  0.37148205,  0.19450006],
       [ 0.64301171,  0.57222866, -0.28438884,  0.28392173,  0.44853793],
       [ 0.87270147,  0.59069316,  1.6442331 ,  0.04498597,  0.67199029],
       [ 1.04496879,  0.98718632,  0.68489565, -0.08116025,  0.88222852],
       [ 1.1980953 ,  1.1939326 ,  0.81531249, -0.13755502,  1.17947213],
       [ 1.3416514 ,  1.35573855,  1.78238653, -0.05147879,  1.54827988],
       [ 1.45649628,  1.73730009,  0.89930978,  0.32695985,  1.87922693]])

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(x_scaled,Y,test_size=0.25)

In [23]:
model.fit(X_train,Y_train)

LinearRegression()

In [24]:
print(model.score(X_train,Y_train))
print(model.score(X_test,Y_test))

0.984252087122266
0.8491301565871968

In [75]:
pca = PCA(n_components=3)

In [76]:
x_pca = pca.fit_transform(x_scaled)

In [77]:
X_train, X_test, Y_train, Y_test = train_test_split(x_pca,Y,test_size=0.25)

In [78]:
model.fit(X_train,Y_train)

LinearRegression()

In [79]:
print(model.score(X_train,Y_train))
print(model.score(X_test,Y_test))

0.982521110827169
0.9676759562393428