In [39]:
import numpy as np
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

import pickle

from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.cluster import KMeans
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB

from sklearn.datasets import load_iris

In [29]:
d = load_iris()

In [30]:
df = pd.DataFrame(d.data,columns=d.feature_names)
df["flower"] = d.target
df["flower_name"] = df["flower"].apply(lambda x: d.target_names[x])

In [31]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),flower,flower_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

In [32]:
X_train, X_test, Y_train, Y_test = train_test_split(d.data,d.target,test_size=0.2)

In [34]:
model = SVC(kernel='rbf', C=20, gamma="auto")
model.fit(X_train,Y_train)

SVC(C=20, gamma='auto')

In [38]:
model.score(X_test,Y_test)

0.9333333333333333

In [41]:
gscv = GridSearchCV(SVC(gamma="auto"),{
    'C': [1,20,30],
    'kernel': ['rbf', 'linear']
}, cv=5, return_train_score=False)

In [44]:
gscv.fit(d.data,d.target)
results = pd.DataFrame(gscv.cv_results_)

In [45]:
results

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_C,param_kernel,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.002000,0.000632,0.001800,0.000401,1,rbf,"{'C': 1, 'kernel': 'rbf'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
1,0.002398,0.000497,0.001009,0.000649,1,linear,"{'C': 1, 'kernel': 'linear'}",0.966667,1.0,0.966667,0.966667,1.0,0.980000,0.016330,1
2,0.001595,0.000487,0.000799,0.000400,20,rbf,"{'C': 20, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.966667,1.0,0.966667,0.036515,3
3,0.001403,0.000495,0.000800,0.000400,20,linear,"{'C': 20, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.933333,1.0,0.966667,0.042164,4
4,0.001399,0.000490,0.000796,0.000398,30,rbf,"{'C': 30, 'kernel': 'rbf'}",0.966667,1.0,0.900000,0.933333,1.0,0.960000,0.038873,5
5,0.001200,0.000402,0.000599,0.000489,30,linear,"{'C': 30, 'kernel': 'linear'}",1.000000,1.0,0.900000,0.900000,1.0,0.960000,0.048990,5

In [46]:
print(gscv.best_score_)
print(gscv.best_params_)

0.9800000000000001
{'C': 1, 'kernel': 'rbf'}

We can use RandomiseSearchCV to take some random inputs out of all the input combinations we give <br>
It helps us in saving computation since it randomly selects a few parameters and tests them <br>
Syntax of randomisedsearchcv is ditto to gridsearchcv except for an additional parameter called n_iter=x where x is the number of random samples we should try