Gaussian Naive Bayes -> When the entire set is in normal distribution, features are continous <br>
Multinomial Naive Bayes -> For Descrete Data <br>
Bernoulli Naive Bayes -> All features are binary

In [21]:
import numpy as np
import pandas as pd 
import seaborn as sn
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
df = pd.read_csv("spam_ham_dataset.csv")

In [3]:
df.head()

,Unnamed: 0,label,text,label_num
0,605,ham,Subject: enron methanol ; meter # : 988291\r\n...,0
1,2349,ham,"Subject: hpl nom for january 9 , 2001\r\n( see...",0
2,3624,ham,"Subject: neon retreat\r\nho ho ho , we ' re ar...",0
3,4685,spam,"Subject: photoshop , windows , office . cheap ...",1
4,2030,ham,Subject: re : indian springs\r\nthis deal is t...,0

In [6]:
df.groupby("label_num").describe()

          Unnamed: 0                                                         \
               count    mean          std     min      25%     50%      75%
label_num
0             3672.0  1835.5  1060.159422     0.0   917.75  1835.5  2753.25
1             1499.0  4421.0   432.868340  3672.0  4046.50  4421.0  4795.50


              max
label_num
0          3671.0
1          5170.0

In [8]:
df.drop(["Unnamed: 0", "label"], axis="columns", inplace=True)

In [9]:
df.head()

                                                text  label_num
0  Subject: enron methanol ; meter # : 988291\r\n...          0
1  Subject: hpl nom for january 9 , 2001\r\n( see...          0
2  Subject: neon retreat\r\nho ho ho , we ' re ar...          0
3  Subject: photoshop , windows , office . cheap ...          1
4  Subject: re : indian springs\r\nthis deal is t...          0

In [11]:
cv = CountVectorizer()

In [12]:
Y = df.label_num
X = df.text

In [13]:
print(Y.head(2))
print(X.head(2))

0    0
1    0
Name: label_num, dtype: int64
0    Subject: enron methanol ; meter # : 988291\r\n...
1    Subject: hpl nom for january 9 , 2001\r\n( see...
Name: text, dtype: object

In [14]:
X = cv.fit_transform(X)

In [15]:
X.shape

(5171, 50447)

In [19]:
X

<5171x50447 sparse matrix of type '<class 'numpy.int64'>'
	with 456145 stored elements in Compressed Sparse Row format>

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.2)

In [24]:
model = MultinomialNB()

In [25]:
model.fit(X_train,Y_train)

MultinomialNB()

In [26]:
model.score(X_test,Y_test)

0.9826086956521739

## Lets now look at building a pipeline using sklearn

In [27]:
from sklearn.pipeline import Pipeline

In [28]:
clf = Pipeline([
    ("Step1", CountVectorizer()),
    ("Step2", MultinomialNB())
])

In [30]:
data = pd.read_csv("spam_ham_dataset.csv")
clf.fit(data.text,data.label_num)

Pipeline(steps=[('Step1', CountVectorizer()), ('Step2', MultinomialNB())])

In [32]:
clf.score(data.text,data.label_num)

0.9870431251208663